<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3>Hydroponics Monitoring - {{ Title }}</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                {{#each Status}}
                <div id="area_{{ this.ID }}" class="col-md-3">
                    <div class="{{ this.STYLE }}">
                        <span class="info-box-icon">
                            <i class="{{ this.ICON }}"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ this.NAME }}</span>
                            <span class="info-box-number">{{ this.VALUE }}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <span class="progress-description">Next Refersh in 30 Secs...</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>



<script>
    const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
    const Default = {
        scrollbarTheme: 'os-theme-light',
        scrollbarAutoHide: 'leave',
        scrollbarClickScroll: true,
    };
    document.addEventListener('DOMContentLoaded', function () {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
        if (sidebarWrapper && typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== 'undefined') {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                scrollbars: {
                    theme: Default.scrollbarTheme,
                    autoHide: Default.scrollbarAutoHide,
                    clickScroll: Default.scrollbarClickScroll,
                },
            });
        }
    });

    timer = 30;
    factor = 100 / 30;
    setInterval(() => {
        if (timer > 0) {
            $('.progress-description').html('Refreshes in ' + timer + ' seconds...');
            $('.progress-bar').css('width', 100 - (factor * timer) + '%');
            timer--;
        }
        else if (timer == 0) {
            $('.progress-description').html('Refreshing...');
            timer--;
            $.get("Refresh", function (data) {
                data.forEach(param => {
                    $('#area_' + param.ID + ' .info-box-number').html(param.VALUE);
                });
                timer = 30;
            });
        }
    }, 1000);
</script>